<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <!-- ul- lista no ordenada -->
        <ul>
            <li> <h1>Escuela Municipal de Programacion y Robotica</h1> - <h3> (año )</h3> </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, officiis id? Sequi, nostrum temporibus impedit sapiente et corporis labore iusto earum nihil totam libero expedita dignissimos facilis omnis, repudiandae ut.</p>
        </ul>
        <!--  -->
        <ul>
            <li> <h1>trabajo 2</h1> - <h3> (año )</h3> </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, officiis id? Sequi, nostrum temporibus impedit sapiente et corporis labore iusto earum nihil totam libero expedita dignissimos facilis omnis, repudiandae ut.</p>
        </ul>
        <!-- -->
        <ul>
            <li> <h1>trabajo 3</h1> - <h3> (año )</h3> </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, officiis id? Sequi, nostrum temporibus impedit sapiente et corporis labore iusto earum nihil totam libero expedita dignissimos facilis omnis, repudiandae ut.</p>
        </ul>
    </div>


</div>
